<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
		
		<!-- Turn on context annotations -->
	<context:annotation-config/>
	
	<!-- Spring will scan all packages and subpackages that start with "com" -->
	<context:component-scan base-package="com"/>
	
	<!-- Turning on tx annotations (Spring ORM) -->
	<tx:annotation-driven/>
	
	<!-- We NEED a SessionFactory to make the project function 
				the SessionFactory has a dependency called "DataSource" -->
				
	<!-- DATASOURCE
			This bean is a JDBC instance. 
			Datasource is an object that holds all attributes necessary to connect to ANY database -->
			
			<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
			
		 		<property name="driverClassName" value = "oracle.jdbc.OracleDriver"/>
		 		<property name="url" value = "jdbc:oracle:thin:@myfirstorcl.caacxjx4qkkr.us-east-2.rds.amazonaws.com:1521:orcl"></property>
		 		<property name="username" value = "test2"/>
		 		<property name="password" value = "test2"/>
		 		
			 </bean>
			 
	<!--  SESSIONFACTORY
			This bean is a Hibernate instance 
			Session Factory is an object that is responsible for creating Hibernate sessions.  -->
			
		<bean id = "sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
	 		<property name="dataSource" ref="dataSource"/>
			<property name="packagesToScan" value="com"/>
			<property name="hibernateProperties">
				<props>
					<prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
					<prop key="hibernate.show_sql">false</prop>
					<prop key="hibernate.format_sql">false</prop>
					<!-- i changed this to update to try to just use the table that is in it -->
					<prop key="hibernate.hbm2ddl.auto">update</prop>
				</props>
			</property>
	 		
	 	</bean>
	 	
	 <!-- TRANSACTION MANAGER
	 			Manages your transactions and ALSO manages our contextual sessions 
	 			
	 		What are contextual sessions?
	 			Sessions with info SPECIFC TO YOU. They make it so that each user sees only THEIR information, not someone elses -->
	 			
	 	<bean id = "transactionManager" class = "org.springframework.orm.hibernate5.HibernateTransactionManager">
	 		<property name="sessionFactory" ref = "sessionFactory"/>
	 	</bean>
	 	
	 <!-- Turn on MVC annotations (Spring MVC)-->
	 <mvc:annotation-driven/>


</beans>
